/* Fonts & Text */
    h1 h2 h3 h4 h5 h6 {
        font-family: 'Roboto', sans-serif;
    }

    body {
        font-family: 'Open Sans', sans-serif;
    }

    p {
        margin: 0px
    }

    h2 {
        margin-bottom: 20px;
    }

    h3 {
        margin-bottom: 10px;
    }

    a {
        color: black; 
    }
/* ./ Fonts & Text */
/* containers */
    .container-fluid {
        width: 80vw;
        margin-top: 20px;
    }

    .wide {
        width: 100vw;
    }
/* ./ containers */
/* Buttons */
    .btn-blue {
        background-color: #1193ff;
        border-color: #1193ff;
        color: white;
        margin-top: 20px;
    }

    .btn-yellow {
        background-color: #FFC000;
        border-color: #FFC000;
        color: white;
        margin-top: 20px;
    }

    .btn-orange {
        background-color: #FF4C00;
        border-color: #FF4C00;
        color: white;
        margin-top: 20px;
    }

    .btn-inline { 
        margin: 0px;
    }
/* ./ Buttons */
/* block dividers */
    .block-divider {
        background-color: #003B6C;
    }

    .block-divider-short {
        width: 300px;
    }

    .block-divider-responsive {
        width: 80%;
    }

    .block-divider-light {
        background-color: #ffffff;
    }
/* ./ block dividers */
/*img*/
    .img {
        height: 70vh;
        object-fit: cover;
        overflow: hidden;
        margin: 0%;
        padding: 10px;
        border-radius: 15px;
        border: 1px solid #888888;
        box-shadow: 3px 5px #888888;
        max-width: 400px;
    }

    .smallnewimg {
        height: 30px;
    }

    .imgsmall {
        height: 100px;
        border-radius: 5px;
    }
/* ./ img*/
/*NavBar*/
    .bg-light  {
        background-color: #fff !important;
    }
/* ./ NavBar */
/* Header */
        #logo {
            width: 200px;
            height: 46.75px;
        }

        nav li {
        margin-right: 30px;
        }

        nav li a:hover {
            border-bottom: 1px solid #003B6C;
        }
/* ./ Header */
/* Footer */
    /* All Footer */
        .footer {
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
        }
    /* ./ All Footer */
    /* Footer - Contact */
        .addresses {
            margin-left: 30px;
        }

        .contact-links i {
            font-size: 125%;
            letter-spacing: 10px;
            padding: 5px;
            color: #75B9E6;
        }

        .contact-links li {
            list-style-type: none;
            display: flex;
            align-items: baseline;
        }
    /*./ Footer - Contact */
    /* Footer - Trust Tags */
        .tags {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0px;
        }

        .trust-tag-wide {
            max-width: 128px;
        }

        .trust-tag-square {
            max-width: 72px;
            }

        .tags li {
            list-style-type: none;
        }
    /* ./ Footer - Trust Tags */
    /* Footer - Social Networks */
        .social-networks {
            padding: 15px;
        }

        .social-links{
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 0px;
            margin: 0px;
        }

        .social-links i {
            font-size: 200%;
            letter-spacing: 40px;
            margin: 1%;
            padding: 5%;
            color: #75B9E6;
        }

        .social-links li {
            list-style-type: none;
        }
    /* ./ Footer - Social Networks */
/* footer */
/* Home Page */
    /* call out */
        .callout-container {
            height: 80vh;
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            position: relative;
            padding-top: 5%;
            padding-right: 5%;
        }

        #hero {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            object-fit: cover;
            overflow: hidden;
            border-radius: 15px;
            margin-bottom: 20px;
        }

        .callout {
            position: relative;
            color: #ffffff;
        }
    /* ./call out */
    /* Main content */
        .main-box {
            min-height: 200px;
            margin: 5%;
            padding: 15px;
            border: 1px solid #003B6C;
            border-radius: 15px;
            box-shadow: 3px 5px #888888;
            }

        .main-box i {
                font-size: 200%;
                color: #75B9E6;
            }

        .main-box p {
            margin: 7% 0;
        }

        .main-box .btn {
            margin-bottom: 5%;
        }
    /* ./ Main content */
    /* Reviews */
        .reviews-header {
            margin-top:20px;
        }

        .media {
            margin: 2%;
        }

        .rnd-img {
            align-self: center;
        }
    /* ./ Reviews */
/* ./ Home Page */
/* courses */
    /*Course Title*/
        .course-description {
            display: flex;
            align-items: center;
            margin: 20px 0px;
        }

        .course-words {
            padding: 15px;
        }

        .course-words p {
            margin: 0px;
        }
    /* ./ Course Title*/
    /* Course details */
        .course-details {
            margin-top: 20px;
        }
        .emphasis-box {
            align-items: center;
            margin: 20px 0px;
            padding: 10px;
            border: 1px solid #003B6C;
            border-radius: 15px;
            box-shadow: 3px 5px #888888;
        }
    /* ./ Course Details*/
    /*Course Content*/
        .media-body p {
            margin: 8px 0px;
        }

        .media i {
            letter-spacing: 15px;
            font-size: 200%;
        }
    /* ./ Course Content*/
    /*price*/
        #price-dis {
            margin-left: 5%;
        }

        .price {
            margin: 0px 5%;
        }
    /* ./ price*/
/* ./ courses */
/* About Me */
    /* Background */
        .background {
            display: flex;
            align-items: center;
            margin: 20px 0px;
        }

        .about-words {
            padding: 15px;
        }

        .slogan {
            display: flex;
            justify-content: center;
            margin: 20px 0px;
        }
    /* ./ Background */
    /* work-together */
        .hr-about {
            display: inline-flex;
            border-top: 1px solid #888888;
            width: 250px;
            margin-top: 10px;
            margin-bottom: 5px;
        }

        .left-about-heading {
            margin-bottom: 20px;
        }

        .circle-container {
            width: 300px;
            height: 300px;
            padding: 10px;
            border-style: solid;
            border-color: #888888;
            border-width: 1px;
            border-radius: 50%;
            margin: 0 auto;
        }

        .circle-img-bg {
            height: 100%;
        }

        .right-about-heading {
            text-align: right;
            margin-bottom: 20px;
        }

        .center-about {
            margin: 20px 0px;
        }
    /* ./ work-together*/
    /* More Info */
        .more-info {
            justify-content: space-around;
        }
    /* ./ More Info */
/* ./ About Me */
/* contact */
    .contact-form {
        margin-bottom: 30px;
    }

    .form {
        align-self: center;
    }

    .contact-heading {
        margin-top: 25px;
        margin-bottom: 20px;
    }

    .center-form {
        padding-top: 10px;
        margin: 0 auto;
    }

    form input {
        margin-bottom: 20px;
    }
/* ./ contact */

/* ----------- media queries ----------*/

/*bootstrap extra large*/
    @media screen and (max-width: 1200px) {
        /* containers */
            .container-fluid {
                width: 100vw;
            }

            .main-box {
                min-height: 300px;
            }
        /* ./ containers */
        /* Home page */
            #hero {
                border-radius: 0px;
            }
        /* ./ Home page */
        /* about */
            .work-together {
                padding: 20px;
            }
        /* ./ about */
    }
/*./ bootstrap extra large*/
/*bootstrap large*/ 
    @media screen and (max-width: 992px) {
        /* Home page */
            /*Main content */
                .main-box {
                    min-height: 310px;
                }
            /* ./ Main content */
            /* Reviews */
                .reviews-container p {
                    font-size: 18px;
                }
            /* ./ Reviews */
        /* ./ Home page */
    }
/*./ bootstrap large*/ 
/*bootstrap medium*/ 
    @media screen and (max-width: 768px) {
        /* imgs */
            .img {
                width: 100%;
                height: 100%;
            }
        /* ./ img */
        /* Home page */
            /*Main content */
                .main-box p {
                    margin: 3% 0;
                }
            /* ./ Main content */
            /* Reviews */
                #img-switch {
                    order: 2;
                }

                #text-switch {
                    order: 1;
                }
            /* ./ Reviews */
        /* ./ Home page */
        /* contact */
            .center-form {
                padding-top: 30px;
                min-height: 240px;
                margin: 0 auto;
                max-width: 90%;
            }
        /*./ contact */
        /* footer */
            /*contact*/
                .contact-links {
                    padding: 0px;
                }

                .contact-links li{
                    align-items: center;
                    justify-content: center;
                }
            /*./ contact*/
        /*./ footer */
    }
/*./ bootstrap medium*/ 
/*bootstrap small*/ 
    @media screen and (max-width: 576px){
        /* imgs */
            .img {
                height: 50vh;
            }
        /* ./img */
        /* Home page */
            /* call out */
                .callout-container {
                    align-items: center;
                    justify-content: center;
                }
            /* ./call out */
        /* ./ Home page */
        /* about */
            .left-about
            {
                text-align: center;
            }
            .right-about-heading {
                text-align: center;
            }
        /* ./ about */
        /* courses */
            /* Work Together */
            #img-switch-sm {
                order: 2;
            }

            #text-switch-sm {
                order: 1;
            }
            /* ./Work Together */
        /* ./ courses */
        /* Footer */
            /* All Footer */
                .footer {
                    flex-direction: column;
                }
            /* ./ All Footer */
            /* Footer - Contact */
                .contact {
                    order: 2;
                    width: 100%;
                }

                .contact-links i{
                    display: block;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    letter-spacing: 0px;
                }
            /* ./ Footer - Contact */
            /* Footer - Trust Tags */
                .trust-tags {
                    order: 1;
                    width: 100%;
                }
            /* ./ Footer - Trust Tags */
            /* Footer - Social Networks */
                .social-networks {
                    order: 3;
                    width: 100%;
                }
            /* ./ Footer - Social Networks */
        /* ./ Footer */
    }
/*./ bootstrap small*/

/* ---------./ media queries ----------*/