/* Header */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    .Logo-container {
        max-height: 150px;
        max-width: 210px;
    }
    
    #logo {
        height: 100%
    }


    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

        nav li {
            margin-right: 30px;
            list-style-type: none;
        }

        nav a {
            text-decoration: none;
            color: inherit;
        }

        nav a:hover {
            border-bottom: 1px solid #777777;
        }

        .active{
            border-bottom: 1px solid #777777;
        }

/* Footer */

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    }

    /* Footer - Contact */
    .contact {
        padding: 5px;
        width: 33%;
        }

    .addresses {
        margin-left: 30px;
    }

    /*./ Footer - Contact */

    /* Footer - Trust Tags */

    .trust-tags {
        padding: 5px;
        width: 33%;
        text-align: center
    }

    .tags {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px;
    }

    .trust-tag-wide {
        max-width: 128px;
    }

    .trust-tag-square {
        max-width: 72px;
        }

    .tags li {
        list-style-type: none;
    }

    /* ./ Footer - Trust Tags */

    /* Footer - Social Networks */

    .social-networks {
        padding: 5px;
        width: 33%;
    }

    .social-links{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0px;
    }

    .social-links i {
        font-size: 200%;
        letter-spacing: 30px;
        margin: 1%;
        padding: 5%;
        color: #75B9E6;
    }

    .social-links li {
        list-style-type: none;
    }
    /* ./ Footer - Social Networks */
/* footer */



/*media queries*/

/*tablet*/

@media screen and (max-width: 1393px) {

    
}

/*mobile*/

@media screen and (max-width: 800px) {
    
/* Footer */

    .footer {
        flex-direction: column;
    }
    .contact {
        order: 2;
    }

    .trust-tags {
        order: 1;
    }

    .social-networks {
        order: 3;
    }
/* ./ Footer */
    
}

/*end media queries*/